[Unit]
Description=babymonitor

[Service]
User=babymonitor
TimeoutStartSec=0
ExecStart=/opt/babymonitor/babymonitor -config /etc/babymonitor/config.json

[Install]
WantedBy=multi-user.target
