Package: baby-monitor
Version: 0.1
Section: base
Priority: optional
Architecture: all
Installed-Size: SIZE
Depends:
Maintainer: Adam Scott and Kelvin Nicholson
Description: A simple node-based baby monitor that runs on a Raspberry Pi.
