<!DOCTYPE html>
<html lang="en">
<head>
  <title>babymonitor</title>

  <style>
    html, body {
      background-color: black;
      height: 100%;
      margin: 0px;
    }

    #stream {
      height: 100%;
    }
  </style>


</head>

<body>
  <div id="stream" />

  <script src="http://code.jquery.com/jquery.js"></script>
  <script>
  function connect() {
    var socket = new WebSocket("ws://" + location.host + "/listen");
    socket.onmessage = function(event) {
      $('#stream').attr('style', 'background: url(' + event.data + ') no-repeat center center fixed; background-size: contain;');
    };
  }

  $(document).ready(connect);
  </script>
</body>

</html>

