<!DOCTYPE html>
<html lang="en">
<head>
  <title>babymonitor</title>

  <style>
    html, body {
      background-color: black;
      height: 100%;
      margin: 0px;
    }

    #stream {
      height: 100%;
    }
  </style>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io();

  socket.on('liveStream', function(url) {
    $('#stream').attr('style', 'background: url(' + url + ') no-repeat center center fixed; background-size: contain;');
  });

  function startStream() {
    socket.emit('start-stream');
  }

  $(document).ready(startStream);
  </script>
</head>

<body>
  <div id="stream" />
</body>

</html>

